.receita__botao{
    background: var(--main-color);
    border: none;
    border-radius: 0.5rem;
    color: #fdfdfd;
    padding: 0.80rem 2rem;
    transition: all .1s  ease-out;
    display: block;
    margin: 2rem auto 0.5rem auto;

}

.receita__botao:hover{
    background: var(--main-color-hover);
    cursor: pointer;
}