.receita__botao{
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 0.80rem;
    transition: all .1s  ease-out;

}

.receita__botao:hover{
    background: var(--main-color-hover);
    cursor: pointer;
}